modules = ["nodejs-20", "web", "java-17", "python-3.11", "openjdk-17", "android-sdk", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["openjdk17", "openjdk", "unzip", "android-tools", "openjdk8", "jq", "jdk17", "gradle", "zip", "wget", "imagemagick", "openjdk11", "jdk21"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[agent]
integrations = ["javascript_stripe:1.0.0", "sendgrid:1.0.0"]

[userenv]

[userenv.shared]
SMTP_HOST = "smtp-pulse.com"
SMTP_PORT = "465"
SMTP_USER = "admin@pingjob.com"
SMTP_PASSWORD = "OFvZ1fLQX7"
SMTP_FROM_EMAIL = "support@pingjob.com"
AWS_REGION = "us-east-1"
AWS_S3_BUCKET = "pingjob"
CLOUDFRONT_DOMAIN = "cdn.pingjob.com"
FACEBOOK_CLIENT_ID = "1377200590045125"
FACEBOOK_CLIENT_SECRET = "6ecf77a7322215522efb9b795fc283ad"
